.imgCardDetail{
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 5px;
    margin: 20px;
    background-color: rgb(253, 253, 230);
    max-width: 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.imgDivDetail{
    max-width: 900px;
    
}


.envioGratis{
    background-color: aliceblue;
    
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
    color: green;
}