.imgCardDetail{
    display: grid;
    border-style: solid;
    padding: 5px;
    margin: 20px;
    background-color: rgb(253, 253, 230);
    max-width: 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.imgDivDetail{
    max-width: 900px;
    
}